<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/style1.css">
<link rel="stylesheet" type="text/css" href="static/style2.css">
<link rel="stylesheet" type="text/css" href="static/style3.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-large w3-light-grey">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block">Home</a>
    </div>
    <div class="w3-col s3">
      <a href="#plans" class="w3-button w3-block">SPY: ${{ sp_total_data[1] }}</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block">DIA: ${{ dow_total_data[1] }}</a>
    </div>
    <div class="w3-col s3">
      <a href="#contact" class="w3-button w3-block">QQQ: ${{ nasdaq_total_data[1] }}</a>
    </div>
  </div>
</div>

<!-- Content -->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

  <div class="w3-panel">
    <h1><b>Welcome</b></h1>
  </div>

  <!-- Slideshow -->
  <div class="w3-container">
    <div class="w3-display-container mySlides">
      <img src="static/computer_phone.jpeg" style="width:100%">
      <div class="w3-display-topleft w3-container w3-padding-32"></div>
        <span class="w3-white w3-padding-large w3-animate-bottom"></span>
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="static/stock_face.jpg" style="width:100%">
      <div class="w3-display-middle w3-container w3-padding-32"></div>
        <span class="w3-white w3-padding-large w3-animate-bottom"></span>
      </div>
    </div>
    <div class="w3-display-container mySlides">
      <img src="static/stock_exchange.jpg" style="width:100%">
      <div class="w3-display-topright w3-container w3-padding-32"></div>
        <span class="w3-white w3-padding-large w3-animate-bottom"></span>
      </div>
    </div>

    <!-- Slideshow next/previous buttons -->
    <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
      <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
      <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>
    
      <div class="w3-center">
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
      </div>
    </div>
  </div>
  
  <!-- Grid -->
  <div class="w3-row w3-container">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Index Descriptions</span>
    </div>
    <div class="w3-col l3 m6 w3-light-grey w3-container w3-padding-16">
      <h3>SPY</h3>
      <p>The S&P 500 Index, or the Standard & Poor's 500, is a market-capitalization-weighted index 
        of the 500 largest U.S. publicly traded companies. It is a float-weighted index, meaning company 
        market capitalizations are adjusted by the number of shares available for public trading.</p>
    </div>

    <div class="w3-col l3 m6 w3-grey w3-container w3-padding-16">
      <h3>DIA</h3>
      <p>The Dow Jones Industrial Average (DJIA) is a widely-watched benchmark index in the U.S. for blue-chip stocks. 
        The DJIA is a price-weighted index that tracks 30 large, publicly-owned companies trading on the New York Stock Exchange and the NASDAQ.</p>
    </div>

    <div class="w3-col l3 m6 w3-dark-grey w3-container w3-padding-16">
      <h3>QQQ</h3>
      <p>Nasdaq is a global electronic marketplace for buying and trading securities. It was the world's first electronic exchange.
        It operates in 25 markets, one clearinghouse, and five central securities depositories in the United States and Europe. 
        The Nasdaq also lists popular cryptocurrencies.</p>
    </div>

    <div class="w3-col l3 m6 w3-black w3-container w3-padding-16">
      <h3>Search</h3>
      <p>Use our equity search feature to find prices of individual stock, mutual funds, ETFs, and more.  Coming soon.</p>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

  <!-- Grid -->
  <div class="w3-row-padding" id="plans">
    <div class="w3-center w3-padding-64">
      <!--
      <h3>Pricing Plans</h3>
      <p>Choose a pricing plan that fits your needs.</p>
      <div>
      <div>{{ ids.0 }}</div>
        -->
        <legend><H2>Stock Price Information For {{tickers.0}}</H2></legend>
        <table class="table">
            <thead>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume</th>
                <th>Dividends</th>
                <th>Stock Splits</th>
            </thead>

            <tbody>
                
                <tr>
                  <td> ${{ sp_total_data.0 }}</td>
                  <td> ${{ sp_total_data[1] }}</td>
                  <td> ${{ sp_total_data[2] }}</td>
                  <td> ${{ sp_total_data[3] }}</td>
                  <td> {{ sp_total_data[4] }}</td>
                  <td> {{ sp_total_data[5] }}</td>
                  <td> {{ sp_total_data[6] }}</td>
                </tr>
              </tbody>
        </table>
      
      {% for id in ids %}
      <div id="{{id}}"></div>
      {% endfor %}

      </div>
    </div>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-basic-latest.js"></script>

    <!-- Script to run the graph fo S&P-->
    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};

        let i = 0;
        for(i in graphs){
                      Plotly.plot(ids[i], // the ID of the div, created above
                      graphs[i].data,
                      graphs[i].layout || {});

        }
                        
                        
                        
      </script>
  <!--
<legend><H2>Stock Price Information For {{tickers.1}}</H2></legend>
<table class="table">
    <thead>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Volume</th>
        <th>Dividends</th>
        <th>Stock Splits</th>
    </thead>

    <tbody>
        
        <tr>
          <td> ${{ dow_total_data.0 }}</td>
          <td> ${{ dow_total_data[1] }}</td>
          <td> ${{ dow_total_data[2] }}</td>
          <td> ${{ dow_total_data[3] }}</td>
          <td> {{ dow_total_data[4] }}</td>
          <td> {{ dow_total_data[5] }}</td>
          <td> {{ dow_total_data[6] }}</td>
        </tr>
      </tbody>
</table>
-->    


        <!-- Script to run the graph for DIA-->
        <script type="text/javascript">

          var graphs = {{graphJSON | safe}};
          var ids = {{ids | safe}};

          let i = 0;
                          Plotly.plot(ids[i], // the ID of the div, created above
                          graphs[i].data,
                          graphs[i].layout || {});
                          
        </script>



    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-black w3-xlarge w3-padding-32">Technology</li>
        <li class="w3-padding-16">Apple Judge Presses Cook Hard in Final Minutes of Epic Trial</li>
        <li class="w3-padding-16">Episode 1: TikTok Started With a Tech Guy From China Who Decoded America’s Teens</li>
        <li class="w3-padding-16">The Most Powerful Woman in Gaming Wants to Make EA Loved Again</li>
        <li class="w3-padding-16">Talen Energy Plans Push into Crypto, And Creditors Frown</li>
        <br>
          <button class="w3-button w3-green w3-padding-large">Read More</button>
          <br>
          <br>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">Business Insights</li>
        <li class="w3-padding-16">London Heathrow to Open Separate Terminal for High-Risk Arrivals</li>
        <li class="w3-padding-16">Episode 2: Behind TikTok Is a Chinese Tech Giant Fueling the World’s Hottest App</li>
        <li class="w3-padding-16">Covid Boosted Productivity. Post-Covid Will Boost It Even More.</li>
        <li class="w3-padding-16">50 Companies to Watch in 2021</li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-green w3-padding-large">Read More</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-black w3-xlarge w3-padding-32">Economics</li>
        <li class="w3-padding-16">World-Dominating Superstar Firms Get Bigger, Techier, and More Chinese</li>
        <li class="w3-padding-16">IMF Sees Approval of $650 Billion in Reserves by End of August</li>
        <li class="w3-padding-16">Euro-Area Recovery Boosted by Services as Industry Loses Steam</li>
        <li class="w3-padding-16">Plans for a Global Minimum Tax Revolution, Explained</li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-green w3-padding-large">Read More</button>
        </li>
      </ul>
    </div>
  </div>

    



  <!-- Grid -->
  <!--
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="/w3images/team1.jpg" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>Jane Doe</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Mike Ross</h3>
          <p class="w3-opacity">Art Director</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="/w3images/team3.jpg" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>John Doe</h3>
          <p class="w3-opacity">Designer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  -->
  <!-- Contact -->
  <div class="w3-center w3-padding-64" id="contact">
    <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Contact Us</span>
  </div>

  <form class="w3-container" action="/action_page.php" target="_blank">
    <div class="w3-section">
      <label>Name</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Name" required>
    </div>
    <div class="w3-section">
      <label>Email</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" name="Email" required>
    </div>
    <div class="w3-section">
      <label>Subject</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Subject" required>
    </div>
    <div class="w3-section">
      <label>Message</label>
      <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" name="Message" required>
    </div>
    <button type="submit" class="w3-button w3-block w3-black">Send</button>
  </form>

</div>

<!-- Footer -->

<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
  <!--  
  <h4>Footer</h4>
  -->
  <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <!--
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  -->
</footer>


<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demodots");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>

</body>
</html>
